.menuRow{
  /*border-left: solid 2px;*/
  /*border-right: solid 2px;*/
  /*border-bottom: solid 2px;*/
  /*border-top: solid 2px;*/
  display: flex;
  justify-content: space-around;
}
.informBoxBoarder{
  /*border-bottom: solid 2px;*/
  /*border-left: solid 2px;*/
  /*border-right: solid 2px;*/
  /*border-top: solid 2px;*/
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  border-color: cornflowerblue;
}

button{
  background-color: yellowgreen;
  margin-bottom: 5px;
}


